@import 'vars.less';

//=============================
//====Modificações Globais=====
//=============================


//=============================
//===========Home==============
//=============================
html {
	body {
		background-color: @fundoBranco;
		//=====Menu=====
		header {
			background-color: @fundoCinzaMenuHome;
			border-top: 1px #AAAAAB solid;
			-webkit-box-shadow: 0px 2px 	px 0px rgba(50, 50, 50, 0.16);
			-moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.16);
			box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.16);
			margin-bottom: 2px;
			min-height:130px;
			.menuHomeAlinhado {

				padding: 0 !important;
				.pure-u-17-24 {
					margin: 0 auto;
					.mudarFundoDiv {
						.fundo;
					}

					.menuLinks{
						.hammersmith(15px);
						text-align: center;
						text-decoration: none;
						margin-top: 50px;
						padding-bottom:46px;
						.transition;
						color: @fundoLetraMenuHome; 
						letter-spacing:-1px;
						&:hover {
							border-bottom: 6px @fundoLetraMenuHome solid;
							background-color: transparent !important;
						}

						&.ativo {
							border-bottom: 6px @fundoLetraMenuHome solid;
						}
					}

					.imagemMenu {
						margin-right:50px;
						&:hover {
							background-color: transparent !important;
						}
					}
				}

			}		
		}

		//=====Caixa as 3 empresas=====
		.asTresEmpresas {
			height:480px;
			background: url('../images/front/home/bg.jpg') center no-repeat;
			position:relative;
			overflow-x:hidden;
			padding:0;
			.asTresEmpresasCentralizar {
				font-family: Verdana;
				font-size: 22px;
				color: @fundoCinzaHomeTexto;

				p {
					text-align: center;
					margin: 0; 
					padding:0;
					margin-bottom: 10px;
				}

				.titulo{
					margin-top:70px;
				}

				div {
					.pure-u-6-24{
						@media screen and (min-width: 1366px){
							width:260px;
    						height:220px;

    						img {
    							margin-left:20px;
    						}

    						p {
    							height:76px;
    						}
        				}

        				@media screen and (min-width: 1280px){
							width:300px;
    						height:200px;

    						img {
    							margin-left:30px;
    						}

    						p {
    							height:43px;
    						}

        				}

        				@media screen and (min-width: 1024px){
							width:250px;
    						height:200px;

    						img {
    							margin-left:40px;
    						}

    						p {
    							height:60px;
    						}

        				}

        				@media screen and (min-width: 320px){
    						img {
    							margin-left:10%;
    						}

        				}

						margin-top:90px;
						background:rgba(255,255,255, 0.70);
						.transition;

						img {
							margin-top:20px;
						}
						p {
							margin:10px 4px 0 4px;
						}
						
						&:hover {
							.leiaMais {
								color:@fundoBranco;
								background-color: #9BAAAF;
							}
						}

						.leiaMais {
							color:#9BAAAF;
							text-decoration: none;
							padding-right: 4px;
							float: right;
							@media screen and (min-width: 320px){
								padding-left:77%;
        					}
        					@media screen and (min-width: 360px){
								padding-left:81%;
        					}
        					@media screen and (min-width: 384px){
								padding-left:82%;
        					}
        					@media screen and (min-width: 480px){
								padding-left:85.5%;
        					}
        					@media screen and (min-width: 1024px){
								padding-left:93.1%;
        					}
        					
						}
					}
					margin:0 auto;
				}

				@media screen and (min-width: 1366px){
    				padding:0 120px;
        		}
				

				.titulo {
					color: @fundoLetraMenuHome;
					.hammersmith(33px);
				}

				.textoEmpresa {
					width: 90%;
					font-family: Verdana;
					font-size: 14px;
					color: @fundoCinzaEmpresasTexto;
					margin:0;
					padding:0;
				}

				img {
					width:76%;
					margin:0 auto;
				}

			}
		}

		//=====Texto de Referência=====
		.fundoTextoReferencia {
			background-color:@fundoCaixaReferenciaHome;
			position:relative;
			overflow-x:hidden;
			padding:20px 0;

			.textoDeReferenciaComResponsivo {
				font-family: Verdana;
				font-size: 14px;
				color: @fundoBranco;

        		@media screen and (min-width: 1280px){
    				padding:20px 80px;
        		}

        		@media screen and (min-width: 1366px){
    				padding:20px 140px;
        		}

				.tituloReferencia {
					.hammersmith(25px);
				}

				div {
					margin:0 auto;
				}

				div p{
					line-height: 22px;
				}

				img {
					margin-top: 15px;
					width:64%;
				}
			}
		}

		//==========Rodapé
		footer {
			.pure-g{
				padding:40px 0;

				a{
					text-decoration: none;
				}


				p {
					font-family: Verdana;
					font-size: 13px !important;
					color: #4d666b;
					margin:0;
					margin-bottom:7px;
				}

				.alinhamentoDireita {
					text-align: right;
				}
			}

			@media screen and (min-width: 1024px){
				padding:0 6%;
    		}

    		@media screen and (min-width: 1280px){
				padding:0 8%;
    		}

			@media screen and (min-width: 1366px){
				padding:0 14%;	
    		}
		}
	}
}
//=============================
//==========Grupos=============
//=============================
html {
	body {
		.grupos {
			.pure-g {
				.pure-u-17-24 {
					margin: 0 auto;

					.tituloGrupo {
						color: @tituloTextoVerde;
    					.hammersmith(35px);
					}

					.imagensSelecionaveis {
						border-bottom: 4px #8FA0A7 solid;
						margin-right: 5%;
						margin-bottom: 3%;
						padding:1% 3%;
						cursor: pointer;
						.transition;
						&:hover {
							border-bottom: 4px @tituloTextoVerde solid;
						}

					}

					.textoEmpresa {
						line-height: 20px;
						font-family: Verdana;
						font-size: 14px;
						color: @tituloTextoVerde;
						margin:0;
						padding: 0;

						.linkExterno {
							.transition;
							background-color: #4D666B;
							text-align: center;
							margin: 0;
							padding: 0;
							padding:4px 0;

							&:hover {
								background-color: @tituloTextoVerde;
							}

							a{
								color: @fundoBranco;
								.hammersmith(14px);
								text-decoration: none;
							}
						}
					}

					.imagemEmpresa {
						margin-left:5%; 
					}

					.hide {
						display: none;
					}
				}
				.pure-u-1 {
					background-color: @tituloTextoVerde;
					padding:3% 0;
					.pure-g {
						.pure-u-17-24 {
							.pure-u-7-24 {
								color: @fundoBranco;
								margin-right: 4%;
								.titulo {
									.hammersmith(24px);
								}

								.texto {
									font-family: Verdana;
									font-size: 14px;
									line-height: 22px;
								}

								ul {
									list-style-type: disc;
									padding: 0;
								}
							}
						}
					}
				}

				margin-bottom: 20px;
			}
		}
	}
}
//=============================
//==========Prêmios============
//=============================

html {
	body {
		.premios {
			.pure-g {
				.pure-u-17-24 {
					padding-top: 4%;
					margin:0 auto;

					.tituloIntrodutorio {
	    				color: @tituloTextoVerde;
	    				.hammersmith(35px);
					}

					.textoIntrodutorio {
						width:70%;
						color: @tituloTextoVerde;
	    				font-size: 13px;
	    				font-family: Verdana;
	    				line-height: 22px;
	    				margin:0;
	    				margin-bottom: 5%;
					}

					.pure-g {
						.pure-u-17-24 {
							background-color: #9BAAAF;
							margin:0;
							padding:0;
							padding-top: 4%;
							padding-left: 4%;

							.tituloPremio {
								color: @fundoBranco;
								.hammersmith(22px);
								margin:0;
							}

							.dataPremio {
								color: @fundoBranco;
								.hammersmith(13px);
								margin:0;
								margin-right:10px;
								float:right;
							}

							.subtituloPremio {
								color: @fundoBranco;
								.hammersmith(18px);
								margin:0;
							}

							.textoPremio {
								color: #1f5a67;
								font-size: 11px;
	    						font-family: Verdana;
	    						line-height: 18px;
							}

							.textoPremioEscondido {
								color: #1f5a67;
								font-size: 12px;
	    						font-family: Verdana;
	    						line-height: 16px;
							}
						}

						.pure-u-5-24 {
							padding-top: 4%;
							padding-left: 2%;
							background-color: #9BAAAF;
							margin:0;

							img {
								width: 90%;
							}

							.leiaMais {
								background-color: @fundoBranco;
								color: #1f5a67;
								.hammersmith(12px);
								text-decoration: none;
								margin:0;
								padding:6px 6px 6px 12px;
								float: right;

								&:hover {
									cursor: pointer;
								}
							}
						}

						.hide {
							display:none;
						}
						margin-bottom: 24px;
					}

					ul.pagination {
						background-color: @tituloTextoVerde;
						list-style: none;
						padding:10px 10px;

						li {
							.hammersmith(14px);
							color: @fundoBranco;
							display: inline;
							margin-right: 1%;
						}
					}
				}
			}
		}
	}
}

//=============================
//========Certificações========
//=============================

html {
	body {
		.certificacoes {	
			position:relative;
			//padding:0 auto;

			.pure-g {
				//margin:0 auto;

				@media screen and (min-width: 1024px){
    				padding:0 4%;
        		}

        		@media screen and (min-width: 1280px){
    				padding:0 14%;
        		}

				@media screen and (min-width: 1366px){
    				padding:0 15%;	
        		}
    			.pure-g{
    				margin-bottom: 10px;
    				padding: 0;
    				p {
    					color: @cinzaTextoCertificacao;
	    				font-size: 11px;
	    				font-family: Verdana;
	    				line-height: 18px;
    				}

    				img {
    					margin-top:26%;
    					margin-left:20%;
    					width:100%;
    				}
    				.certificacoTitulo {
    					color: @tituloTextoVerde;
    					.hammersmith(24px);
    				}
    			}

    			#certificacaoTituloIntrodutorio {
    				height:80px;
    				color: @tituloTextoVerde;
    				.hammersmith(35px);
    				margin-top:38px;	
    			}

    			#certificacaoTextoIntrodutorio {
    				color: @tituloTextoVerde;
    				font-size: 13px;
    				font-family: Verdana;
    				line-height: 22px;

    				@media screen and (min-width: 1024px){
    					padding-right:32%;
        			}

	        		@media screen and (min-width: 1280px){
	    				padding-right:26%;
	        		}

					@media screen and (min-width: 1366px){
	    				padding-right:30%;	
	        		}
    			}  		
			}
			margin-bottom: 8%;
		}

		.fundoVerde {
			background-color: @fundoCaixaReferenciaHome !important;
			height:20% !important;
			padding:10px 0 !important;
			display:block !important;
		}
	}
}

//=============================
//======Sustentabilidade=======
//=============================

html {
	body {
		// Texto de Sustentabilidade
		.sustentabilidade {
			position:relative;
			.pure-g {
				padding:20px;
				@media screen and (min-width: 1024px){
    				padding:0 4%;
        		}

        		@media screen and (min-width: 1280px){
    				padding:0 14%;
        		}

				@media screen and (min-width: 1366px){
    				padding:0 15%;	
        		}

        		p {
					color: @tituloTextoVerde;
    				font-size: 13px;
    				font-family: Verdana;
    				line-height: 22px;
        		}

        		img {
        				width: 90%;
    					margin-top:40%;
    					margin-left: 24px;
    				}

        		.titulo {
    				color: @tituloTextoVerde;
    				.hammersmith(35px);
    				margin-top:10%;
				}

			}
		}

		//Texto de Ação Social
		.acaosocial {
			background-color: @fundoCaixaReferenciaHome;
			color: @fundoBranco;
			padding:4% 0;
			margin-top:20px;
			.pure-g {
				@media screen and (min-width: 1024px){
    				padding:0 4%;
        		}

        		@media screen and (min-width: 1280px){
    				padding:0 14%;
        		}

				@media screen and (min-width: 1366px){
    				padding:0 15%;	
        		}

        		p {
        			width: 97%;
    				font-size: 14px;
    				font-family: Verdana;
    				line-height: 20px;
        		}

        		img {
        			width: 100%;
        		}
        		.titulo {
    				.hammersmith(25px);
    				margin:0;
				}

			}
		}
	}
}

//=============================
//============Contato==========
//=============================
html {
	body {
		.contato {
			.pure-g {
				padding:20px;
				@media screen and (min-width: 1024px){
    				padding:0 4%;
        		}

        		@media screen and (min-width: 1280px){
    				padding:0 14%;
        		}

				@media screen and (min-width: 1366px){
    				padding:0 15%;	
        		}

        		.espacoEntreInformacoes {
        			margin:10px 0 !important;
        		}
        		.texto {
        			width:80%;
					color: @tituloTextoVerde;
    				font-size: 16px;
    				font-family: Verdana;
    				line-height: 20px;
    				margin:0;
        		}

        		.titulo {
    				color: @tituloTextoVerde;
    				.hammersmith(36px);
    				margin-top:18%;
				}

				.pure-u-3-5 {
					margin-top:16%;
					margin-bottom: 10%;
				}

				.mensagemDeSucesso {
					text-align: center;
					background-color: #5CB85C;
					font-size: 12px;
					color: @fundoBranco;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					margin-bottom: 20px;
					padding:15px 10px;
				}

				.mensagemDeErro {
					background-color: #D9534F;
					font-size: 12px;
					color: @fundoBranco;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					margin-bottom: 25px;
					padding:15px 10px;
				}

				input[type=text] {
					height: 27px;
					border: 1px #5C6F75 solid;
					margin-bottom: 2%;

					@media screen and (min-width: 1024px) and (max-width: 1366px){
    					width: 79%;
	        		}
				}

				label {
					width: 16%;
					color: #5E7472;
					font-family: Verdana;
					font-size: 14px;
					text-align:left;
					border-top: 1px#5C6F75 solid;
					border-left: 1px#5C6F75 solid;
					border-bottom: 1px#5C6F75 solid;
					padding:5px 10px 10px 14px; 
					float:left;
				}

				textarea {
					min-height:101px;
					max-height:101px;
					border: 1px #5C6F75 solid;
					margin-bottom:10px;

					@media screen and (min-width: 1024px) and (max-width: 1366px){
    					min-width: 78%;
						max-width: 78%;
	        		}
				}

				.mensagem {
					height:90px;
				}

				.botaoEnviarMensagem {
					width:100%;
					font-size:14px;
					background-color: @tituloTextoVerde;;
					color: @fundoBranco;
					text-align: center;
					font-weight: bold;
					border:0;
					padding:8px 0;
				}
			}
		}
	}
}