@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Yanone+Kaffeesatz');
@import url('http://fonts.googleapis.com/css?family=Hammersmith+One');
/*
	font-family: 'Hammersmith One', sans-serif;
*/

@largura:980px;

@vermelho:#EB1D23;
@cinza:#E6E6E6;
@cinzaEscuro:#A0A0A0;
@cinzaMaisEscuro:#4D4D4F;
@cinzaBorda:#D4D4D4;
@texto:#464646;
@tituloTextoVerde: #004351; 
@cinzaTextoCertificacao: #5D7076;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.centro{.centralizar;}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.open(@fsize:12px, @fweight:normal){
	font-family: 'Open Sans', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.yanone(@fsize:12px, @fweight:normal){
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-full{
	@media only screen and (min-width: 768px) {
		display:none !important;
	}
}

.hide-mobile{
	@media only screen and (max-width: 767px) {
		display:none !important;
	}
}

/*================ Meu Código ==================*/

@fundoBranco:#ffffff;
@fundoCinzaMenuHome: #FAFAFA;
@fundoLetraMenuHome: #004351;
@fundoCaixaReferenciaHome: #004451;
@fundoCinzaHomeTexto: #4d666b;
@fundoCinzaEmpresasTexto: #364143;

.hammersmith(@fsize:12px, @fweight:normal){
	font-family: 'Hammersmith One', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.fundo {
	background-color: transparent;
}